body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: white;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}
li a {
  margin: 4px;
  padding: 4px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}
li a:hover,
#header-search:hover {
  border: 2px solid yellow;
  color: yellow;
  cursor: pointer;
}
.title{
  align-self: center;
}
.banner,
.container,
.footer {
  margin: 4px;
  padding: 4px 32px;
  border: 2px solid white;
}
.banner,
.footer {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#query {
  margin: 8px 0px;
  height: 31.2px;
  color: white;
  background-color: black;
  border: 2px solid white;
}
#query:focus{
  border: 2px solid yellow;
  outline: none;
}
#header-search {
  height: 31.2px;
  margin: 4px;
  color: white;
  background-color: black;
  border: 2px solid white;
}
