body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #a9b1d6;
  background-color: #1a1b26;
  font-family: "Lucida Console", "Courier New", monospace;
}
h2,
h3 {
  color: #7dcfff;
}
ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}
li a {
  margin: 4px;
  padding: 4px;
  border: 2px solid #a9b1d6;
  color: #7dcfff;
  text-decoration: none;
}
li a:hover,
#header-search:hover {
  border: 2px solid #9ece6a;
  color: #2ac3de;
  cursor: pointer;
}
.title{
  align-self: center;
  color: #9ece6a;
  font-size: 2.5vw;
}
.banner,
.container,
.footer {
  margin: 4px;
  padding: 4px 32px;
  border: 2px solid #a9b1d6;
}
.banner,
.footer {
  text-align: center;
  color: #ff9e64;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#query {
  margin: 8px 0px;
  height: 32px;
  color: #a9b1d6;
  background-color: #1a1b26;
  border: 2px solid #a9b1d6;
}
#query:focus{
  border: 2px solid #9ece6a;
  outline: none;
}
#header-search {
  margin-right: 4px;
  height: 32px;
  color: #a9b1d6;
  background-color: #1a1b26;
  border: 2px solid #a9b1d6;
}
